.ui.header.network-details {
  margin-bottom: 30px;
}

.network-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2.5%;
  margin-bottom: 12px;

  .network-table-title {
    width: 90px !important;
  }

  .network-table-content {
    width: 180px !important;
  }
}

.empty-table {
  text-align: center;
  color: grey;
  font-weight: 600;
  margin-top: 46px;
  margin-bottom: 46px;
}

.ipv4 {
  font-size: 1rem;
  padding: 1rem;
  color: #515151;
}

.buttons-vpc {
  display: flex;
}

.grid.no-vpc-networks-header, .grid.no-vpc-routes-header {
  padding: 16px;

  .row {

    &:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between;


    }
    padding: 0;
  }
}