.ui.header.network-details {
  margin-bottom: 30px;
}

.network-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2.5%;

  .network-table-title {
    width: 90px !important;
  }

  .network-table-content {
    width: 180px !important;
  }
}

.ipv4 {
  font-size: 1rem;
  padding: 1rem;
  color: #515151;
}
