.networking_vpc {
	.page-title {
		margin-bottom: 1rem;
	}
	.loader-container {
    width: 35px;
    height: 35px;
    margin: 5px;
	}
	.name-with-image-wrapper img {
		padding: 0;
	}
	.mt-8 {
		margin-top: 2rem;
	}
	.noContent {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		min-height: 30rem;
	}
	.network_details_content {
		flex-flow: wrap;
		align-items: stretch;
		margin: -1rem;
		padding: 0;
		display: flex;
		flex-direction: column;
		padding: 1em;

		h3 {
			font-size: 20px;
			font-weight: 600;
		}
	}

	.header.network-details {
		margin-bottom: 40px;
	}

	.network-table {
		display: flex;
	}

	.network-table-title {
		width: 90px;
	}

	.network-table-content {
		width: 180px;
	}

	.empty-table {
		text-align: center;
		color: grey;
		font-weight: 600;
		margin-top: 46px;
		margin-bottom: 46px;
	}

	.buttons-vpc {
		display: flex;
	}

	.grid.no-vpc-networks-header,
	.grid.no-vpc-routes-header {
		padding: 16px;

		.row {
			padding: 0;

			&:first-child {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}

	.vpcDescription {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		margin: 1.5rem 0 2rem;
		flex-wrap: wrap;
		gap: 1rem;

		.input {
			margin: 10px 20px 20px 0;
		}

		.buttons-vpc {
			display: flex;
			flex-direction: row;
		}

		p {
			margin: 0;
		}

		.primary.button {
			height: 38px;
			white-space: nowrap;
			padding: 0 19px;
		}
	}

	.column.inline-cell-wrapper {
		display: inline-block;
		width: auto;
	}

	.detail-items-center {
		align-items: center;
		margin-top: 2rem;
	}
}

.networking_vpc_modal {
	.ipv4 {
		font-size: 1rem;
		padding: 1rem;
		color: #515151;
	}

	.custom_checkbox {
		margin-bottom: 12px;
	}
	.button-loader-container {
		width: 16;
		height: 16;
		margin-right: 0.5rem;

		.icdc-loader {
			border-width: 2px;
			border-top-color: transparent;
		}
	}
}

.novm-text {
	color: gray;
	font-weight: 600;
	text-align: center;
}

.assign_vm_modal {
	max-width: 90vw;

	.vm-block {
		min-height: 160px;
		margin-bottom: 2rem;
	}

	.input-container {
		max-width: 20rem;
		width: 100%;
	}
}

.assign-vms-title {
	font-size: 18px;
	font-weight: 600;
}

.mx-4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.pagination__novm {
	min-height: 120px;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

.gateway-option {
	display: flex;
	align-items: center;
	gap: 8px;

	h4 {
		color: #000000;
		font-weight: 400;
		font-size: 14px;
	}

	p {
		color: #838383;
		font-weight: 400;
		font-size: 14px;
	}
}

.external-gateways {
	font-size: 14px;
	font-weight: 400;
	color: #2185D0;
	display: flex;
	align-items: center;
	margin-top: 4px;
}